<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>{{ title }}</title>
  </head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          <h2 class="card-title text-center"><image  src="./public/assets/logo.png" width="50" ><span class="col-md-3">{{title}}</span></h2>
            <h5 class="card-title text-left">{{description}}</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Seu e-mail</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Sua senha</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Lembrar minha senha</label>
              </div>
              <button class="btn btn-lg btn-danger btn-block text-uppercase" type="submit">Entrar</button>
              <hr class="my-4">
            <small > {{title}} © Todos os direitos reservados </small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


    <script src="./js/jquery.min.js"></script>
 
  <script src="./public/js/login.js"> </script>
</html>